<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incentivos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">

</head>
<body>
    <div id="tudo">
        <div class="main" id="bonus_main">
            <div id ="painel_bonus_sla">
                <h2 id="titulo_bonus_sla">SLAs</h2>
                <div id="sla_circulos">
                        <svg width="70%" height="70%" viewBox="0 0 40 40" class="donut">
                            <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#221F1C"></circle>
                            <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                            <circle id="sla_total_circulo" class="donut-segment donut-segment-3" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="90 10" stroke-dashoffset="25"></circle>  <!--- aqui define o tamanho final depois da animação "stroke-dasharray"-->
                            <g class="donut-text donut-text-1">   
                            
                                <text y="50%" transform="translate(0, 2)">
                                <tspan id="sla_total" x="50%" text-anchor="middle" class="donut-percent"></tspan>   <!-- aqui muda a porcentagem escrita no circulo -->
                            </text>                      
                            <text y="60%" transform="translate(0, 2)">
                                <tspan x="50%" text-anchor="middle" class="donut-data">SLA Mensal</tspan>   <!-- aqui muda o escrito dentro do circulo -->
                            </text>
                            
                        </g>
                    </svg>
                    <svg width="60%" height="60%" viewBox="0 0 40 40" class="donut">
                        <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#221F1C"></circle>
                        <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                        <circle id="sla_total_ci_circulo" class="donut-segment donut-segment-4" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="90 10" stroke-dashoffset="25"></circle>  <!--- aqui define o tamanho final depois da animação "stroke-dasharray"-->
                        <g class="donut-text donut-text-1">  
                            
                            <text y="50%" transform="translate(0, 2)">
                                <tspan id="sla_ci" x="50%" text-anchor="middle" class="donut-percent"></tspan>   <!-- aqui muda a porcentagem escrita no circulo -->
                            </text> 
                            
                            <text y="60%" transform="translate(0, 2)">
                                <tspan x="50%" text-anchor="middle" class="donut-data">SLA Check-in</tspan>   <!-- aqui muda o escrito dentro do circulo -->
                            </text>
                        </g>
                    </svg>
                    <svg width="60%" height="60%" viewBox="0 0 40 40" class="donut">
                        <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#221F1C"></circle>
                        <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                        <circle id="sla_total_pi_circulo" class="donut-segment donut-segment-5" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="90 10" stroke-dashoffset="25"></circle>  <!--- aqui define o tamanho final depois da animação "stroke-dasharray"-->
                        <g class="donut-text donut-text-1">
                            
                            <text y="50%" transform="translate(0, 2)">
                                <tspan id="sla_pi" x="50%" text-anchor="middle" class="donut-percent">??</tspan>   <!-- aqui muda a porcentagem escrita no circulo -->
                            </text>
                            <text y="60%" transform="translate(0, 2)">
                                <tspan x="50%" text-anchor="middle" class="donut-data">SLA Pickng</tspan>   <!-- aqui muda o escrito dentro do circulo -->
                            </text>
                        </g>
                    </svg>
                    <svg width="60%" height="60%" viewBox="0 0 40 40" class="donut">
                        <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#221F1C"></circle>
                        <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
                        <circle id="sla_total_pa_circulo" class="donut-segment donut-segment-6" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="90 10" stroke-dashoffset="25"></circle>  <!--- aqui define o tamanho final depois da animação "stroke-dasharray"-->
                        <g class="donut-text donut-text-1">                
                            <text y="50%" transform="translate(0, 2)">
                                <tspan id="sla_pa" x="50%" text-anchor="middle" class="donut-percent">??</tspan>   <!-- aqui muda a porcentagem escrita no circulo -->
                            </text>
                            <text y="60%" transform="translate(0, 2)">
                                <tspan x="50%" text-anchor="middle" class="donut-data">SLA Packing</tspan>   <!-- aqui muda o escrito dentro do circulo -->
                            </text>
                        </g>
                    </svg>
                </div>
            </div>
            <div id="painel_bonus">
                <H2 id="titulo_bonus_bonus">BONUS</H2>
                <div id="bonus_dados_direita">
                    <ul id="lista_pedidos">
                        <li id="envios_hoje_titulo">ENVIOS HOJE</li>
                        <li id="envios_hoje">XXXX</li>
                        <li id="pedidos_pendentes_titulo">PENDENTES</li>
                        <li id="pedidos_pendentes">XXXXX</li>
                        <li id="envios_mes_titulo">ENVIOS MES</li>
                        <li id="envios_mes">XXXXX</li>
                    </ul>
                </div>
                <div id="bonus_dados_centro">
                    <h2 id="titulo_bonus_phd2">P-H-D</h2>
                    <div id="progress-bars-wrapper">
                        <ul id="lista_phd_mini">
                            <li id="phd_mini_high">XX</li>
                            <li id="phd_mini_low">XX</li>
                        </ul>
                        <div id="progress-bar-container">
                            <div id="progress-bar"></div>
                        </div>
                        <div id="progress-bar-container_full">
                            <div id="progress-bar_full"></div>
                        </div>
                        <ul id="lista_phd_full">
                            <li id="phd_full_10">- 100 R$282,30</li>
                            <li id="phd_full_9">- 99 R$254,07</li>
                            <li id="phd_full_8">- 98 R$225,84</li>
                            <li id="phd_full_7">- 97 R$197,61</li>
                            <li id="phd_full_6">- 96 R$169,38</li>
                            <li id="phd_full_5">- 95 R$141,15</li>
                            <li id="phd_full_4">- 94 R$112,92</li>
                            <li id="phd_full_3">- 93 R$84,69</li>
                            <li id="phd_full_2">- 92 R$56,46</li>
                            <li id="phd_full_1">- 91 R$28,23</li>    
                            <li id="phd_full_0">- 90 R$0</li>
                        </ul>
                    </div>
                </div>
                <div id="bonus_dados_esquerda">
                    <div id="apenas_bonus">
                        <h2 id="valor_bonus_titulo">$$ BONUS $$</h2>
                        <h2 id="valor_bonus_contagem">XXXXX</h2>
                    </div>
                    <div id="sla-bonus-container">
                        <div id="sla-progress-wrapper">
                            <h2 id="sla-bonus-titulo">SLA</h2>
                            <div id="sla-percentages">
                                <span>95%</span>
                                <span>97,5%</span>
                                <span>100%</span>
                            </div>
                            <div id="sla-progress-container">
                                <div id="sla-progress-bar"></div>
                            </div>
                            <div id="sla-multipliers">
                                <span>50%</span>
                                <span>100%</span>
                                <span>150%</span>
                            </div>
                            <span>Multiplicador</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="painel_phd">
                <h2 id="titulo_bonus_phd">P-H-D</h2>
                <div id="grafico">
                    <canvas id="phd_chart"></canvas>
                </div>
                <div id="media_phd_div">
                    <h2 id="media_phd">media</h2>
                    <h2>Média mensal</h2>
                </div>
                <h4 id="updated_at">teste</h4>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script>
        function atualizarConteudo() {
            fetch('json/sla_embu.json?v='+Math.random())
                .then(response => response.json())
                .then(data => {
                    console.log('JSON data:', data);

                    // Update SLA Mensal
                    document.getElementById('sla_total').textContent = data.sla_mes + '%';
                    // Update Check-in semana content
                    document.getElementById('sla_ci').textContent = data.sla_recibos_total + '%';
                    // Repeat similar updates for Picking and Packing semana content
                    // Update Picking semana content
                    document.getElementById('sla_pi').textContent = data.sla_picking_total + '%';
                    // Update Packing semana content
                    document.getElementById('sla_pa').textContent = data.sla_porcent + '%';

                    // Quanto o circulo está preencido
                    document.getElementById('sla_total_circulo').setAttribute('stroke-dasharray', data.sla_total_circulo);
                    document.getElementById('sla_total_ci_circulo').setAttribute('stroke-dasharray', data.sla_total_ci_circulo);
                    document.getElementById('sla_total_pi_circulo').setAttribute('stroke-dasharray', data.sla_total_pi_circulo);
                    document.getElementById('sla_total_pa_circulo').setAttribute('stroke-dasharray', data.sla_total_pa_circulo);

                    document.getElementById('updated_at').textContent = data.hora_agora;


                })
                .catch(error => console.error('Error fetching JSON:', error));
        }
        var myChart;

        function atualizarChart() {
        fetch('json/phd_per_day.json?v=' + Math.random())
            .then(response => response.json())
            .then(data => {
                console.log('JSON data:', data);

                // Remove 'media' key if you don't want it in the chart
                delete data['phd_bonus_values'];
                delete data['bonus_valido'];
                delete data['phd_mini_low'];
                delete data['phd_mini_high'];
                delete data['phd_decimal'];
                delete data['media'];
                delete data['media_full'];
                delete data['multiplicador_bonus_sla'];
                delete data['porcentagem_da_barra_sla'];
                delete data['porcentagem_da_barra_pdh_mini'];
                delete data['porcentagem_da_barra_pdh_full'];
                delete data['nivel_de_bonus'];
                delete data['valor_bonus'];
                delete data['pedidos_pendentes'];
                delete data['envios_dia'];
                delete data['envios_mes'];
                delete data['multiplicador_bonus'];
                delete data['porcentagem_da_barra'];
                delete data['proximo_nivel'];
                delete data['valor_bonus_total'];
                delete data['sla_embu_full'];
                delete data['valor_bonus_contagem'];
                delete data['bonus_valido'];
                delete data['media_full'];

                // Extract labels and values
                var labels = Object.keys(data);
                var values = Object.values(data);

                // Convert labels to integers for proper sorting
                var combinedData = labels.map((label, index) => {
                    return { day: parseInt(label), value: values[index] };
                });

                // Sort data by day
                combinedData.sort((a, b) => a.day - b.day);

                // Update labels and values after sorting
                labels = combinedData.map(item => item.day.toString().padStart(2, '0'));
                values = combinedData.map(item => item.value);

                var ctx = document.getElementById('phd_chart').getContext('2d');

                if (myChart) {
                    // Update existing chart
                    myChart.data.labels = labels;
                    myChart.data.datasets[0].data = values;
                    myChart.update();
                } else {
                    // Create new chart
                    myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'P-H-D por Dia',
                                data: values,
                                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false, // Allow custom aspect ratio
                            plugins: {
                                datalabels: {
                                    anchor: 'end',
                                    align: 'end',
                                    color: 'white',
                                    font: {
                                        weight: 'bold',
                                        size: 12
                                    },
                                    formatter: function(value, context) {
                                        return value.toFixed(2);
                                    }
                                },
                                legend: {
                                    display: false
                                }
                            },
                            scales: {
                                x: {
                                    beginAtZero: true,

                            },
                                y: {
                                    beginAtZero: true
                                    
                                }
                            }
                        },
                        plugins: [ChartDataLabels]
                    });
                }

                
            })
            .catch(error => console.error('Error fetching JSON:', error));
        }
        function atualizarMedia() {
            fetch('json/phd_per_day.json?v=' + Math.random())
            .then(response => response.json())
            .then(data => {
                console.log('JSON data:', data);

            var valorBonusElement = data.bonus_valido;
            if (valorBonusElement == true) {
                document.getElementById('valor_bonus_contagem').style.color = 'rgb(50, 225, 65)';
            } else {
                document.getElementById('valor_bonus_contagem').style.color = 'red';
            }
                
            document.getElementById('media_phd').textContent = data.media;
            document.getElementById('envios_hoje').textContent = data.envios_dia;
            document.getElementById('pedidos_pendentes').textContent = data.pedidos_pendentes;
            document.getElementById('envios_mes').textContent = data.envios_mes;
            document.getElementById('valor_bonus_contagem').textContent = 'R$ ' + data.valor_bonus.toFixed(2); 
            document.getElementById('phd_mini_high').textContent = data.phd_mini_high + ' -';
            document.getElementById('phd_mini_low').textContent = data.phd_mini_low + ' -';
            document.getElementById('valor_bonus_contagem').textContent = 'R$ ' + data.valor_bonus_contagem.toFixed(2);
            })
        }

        function updateProgressBar() {
            fetch('json/phd_per_day.json?v=' + Math.random())
                .then(response => response.json())
                .then(data => {
                    const progressBarMini = document.getElementById('progress-bar');
                    const progressBarFull = document.getElementById('progress-bar_full');
                    progressBarMini.style.height = data.porcentagem_da_barra_pdh_mini + '%';
                    progressBarFull.style.height = data.porcentagem_da_barra_pdh_full + '%';
                })
                .catch(error => console.error('Error fetching JSON:', error));
        }

        function updateSLAProgressBar() {
            fetch('json/phd_per_day.json?v=' + Math.random())
                .then(response => response.json())
                .then(data => {
                    const progressBar = document.getElementById('sla-progress-bar');
                    progressBar.style.width = data.porcentagem_da_barra_sla + '%';
                })
                .catch(error => console.error('Error fetching JSON:', error));
        }
                                                      
                            
    // Initial function calls
    updateSLAProgressBar();
    updateProgressBar();
    atualizarConteudo();
    atualizarChart();
    atualizarMedia();
    setInterval(updateSLAProgressBar, 60000); // Update every minute

</script>
</body>
</html>